.card {
    width: 300px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
  }
  .github {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: rgb(99, 151, 229);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .github:hover {
    background-color: #555;
  }